<!-- As a link -->
<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="{% url 'blog:home' %}">BLOG</a>
    {% if user.is_authenticated %}
    <a class="nav-item ml-auto mr-sm-3" href="{% url 'users:profile' %}">{{ user.username }}</a>
    <a class="nav-item" href="{% url 'users:logout' %}">Logout</a>
    {% else %}
    <a class="nav-item ml-auto mr-sm-3" href="{% url 'users:register' %}">Register</a>
    <a class="nav-item" href="{% url 'users:login' %}">Login</a>
    {% endif %}

</nav>